<MD_Metadata xmlns="http://www.isotc211.org/2005/gmd" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:srv="http://www.isotc211.org/2005/srv" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <fileIdentifier>
    <gco:CharacterString>{{ dataset.get('id') }}</gco:CharacterString>
  </fileIdentifier>
  {{ dataset.get('series_or_relationship') }}
  {% if dataset.get('series_or_relationship')%}
    {% for relationship in dataset.get('series_or_relationship',[])%}
    {{ realtionship }}
    <parentIdentifier>
      {% if relationship.get('pkg_id')%}
      <gco:CharacterString>{{ realtionship.get('pkg_title')}}</gco:CharacterString>
      {% else %}
       <gco:CharacterString>{{ realtionship.get('pkg_comment')}}</gco:CharacterString>
      {% endif %}
    </parentIdentifier>
    {% endfor%}
  {% endif %}
  <language>
    <LanguageCode codeList="http://www.loc.gov/standards/iso639-2/php/code_list.php" codeListValue="eng" codeSpace="ISO639-2">eng</LanguageCode>
  </language>
  <!-- topicCategory>
   <MD_TopicCategoryCode>{{ dataset.get('topic') }}</MD_TopicCategoryCode>
  </topicCategory -->
  <characterSet>
    <MD_CharacterSetCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8" codeSpace="ISOTC211/19115">utf8</MD_CharacterSetCode>
  </characterSet>
  <hierarchyLevel>
    <MD_ScopeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode" codeListValue="dataset" codeSpace="ISOTC211/19115">dataset</MD_ScopeCode>
  </hierarchyLevel>
  <hierarchyLevelName>
    <gco:CharacterString>{{ dataset.get('type') }}</gco:CharacterString>
  </hierarchyLevelName>
  <contact>
    <CI_ResponsibleParty>
      <individualName>
        <gco:CharacterString>{{dataset.get('contact_point', {}).get('Name', '')}}</gco:CharacterString>
      </individualName>
        <positionName>
        <gco:CharacterString>{{dataset.get('contact_point', {}).get('Position', '')}}</gco:CharacterString>
      </positionName> 
      <contactInfo>
        <CI_Contact>
          <address>
            <CI_Address>
              <electronicMailAddress>
                <gco:CharacterString>{{dataset.get('contact_point', {}).get('Email', '')}}</gco:CharacterString>
              </electronicMailAddress>
            </CI_Address>
          </address>
        </CI_Contact>
      </contactInfo>         
      <role>
        <CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="pointOfContact" codeSpace="ISOTC211/19115">pointOfContact</CI_RoleCode>
      </role>
    </CI_ResponsibleParty>
    <CI_ResponsibleParty>
      <individualName>
        <gco:CharacterString>{{ dataset.get('contact_publisher') }}</gco:CharacterString>
      </individualName>
      <role>
        <CI_RoleCode codeSpace="ISOTC211/19115" codeListValue="publisher" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode">publisher</CI_RoleCode>
      </role>
    </CI_ResponsibleParty>
    <CI_ResponsibleParty id="metadataContact">
      <individualName>
        <gco:CharacterString>Daniel Brough</gco:CharacterString>
      </individualName>
      <positionName>
        <gco:CharacterString>Science Leader</gco:CharacterString>
      </positionName>      
      <contactInfo>
        <CI_Contact>
          <address>
            <CI_Address>
              <electronicMailAddress>
                <gco:CharacterString>qdes+Daniel.Brough@salsadigital.com.au</gco:CharacterString>
              </electronicMailAddress>
            </CI_Address>
          </address>
        </CI_Contact>
      </contactInfo>      
      <role>
        <CI_RoleCode codeSpace="ISOTC211/19115" codeListValue="pointOfContact" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode">pointOfContact</CI_RoleCode>
      </role>
    </CI_ResponsibleParty>  
  </contact>
  <dateStamp>
    <gco:Date>2020-01-18T10:00:00+10:00</gco:Date>
  </dateStamp>
  <metadataStandardName>
    <gco:CharacterString>ISO 19139 Geographic Information - Metadata - Implementation Specification</gco:CharacterString>
  </metadataStandardName>
  <metadataStandardVersion>
    <gco:CharacterString>2007</gco:CharacterString>
  </metadataStandardVersion>
  <locale>
    <PT_Locale>
      <languageCode>
        <LanguageCode codeList="http://www.loc.gov/standards/iso639-2/php/code_list.php" codeListValue="eng" codeSpace="ISO639-2">eng</LanguageCode>
      </languageCode>
      <country>
        <Country codeList="http://www.iso.org/iso/country_codes/iso_3166_code_lists.htm" codeListValue="AU" codeSpace="ISO3166-1">AU</Country>
      </country>
      <characterEncoding>
        <MD_CharacterSetCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8" codeSpace="ISOTC211/19115">utf8</MD_CharacterSetCode>
      </characterEncoding>
    </PT_Locale>
  </locale>
  {% if dataset.get('spatial_datum_crs') %}
      <referenceSystemInfo>
        <MD_ReferenceSystem>
          <referenceSystemIdentifier>
            <RS_Identifier>
              <code>
                <gco:CharacterString>{{dataset.get('spatial_datum_crs')}}</gco:CharacterString>
              </code>
            </RS_Identifier>
          </referenceSystemIdentifier>
        </MD_ReferenceSystem>
      </referenceSystemInfo>
  {% endif %}
  <identificationInfo>
    <MD_DataIdentification>
      <citation>
        <CI_Citation>
        {% if dataset.get('identifiers') %}
          {% for identifier in dataset.get('identifiers') %}
            <identifier>
              <MD_Identifier>
                  <code>
                      <gco:CharacterString>{{ identifier }}</gco:CharacterString>
                  </code>
              </MD_Identifier>    
            </identifier>
          {% endfor %}
        {% endif %}         
          <title>
            <gco:CharacterString>{{dataset.get('title')}}</gco:CharacterString>
          </title>
          <alternateTitle>
            <gco:CharacterString>{{dataset.get('title')}}</gco:CharacterString>
          </alternateTitle>
          {% if dataset.get('dataset_creation_date')%}
          <date>
            <CI_Date>
              <date>
                <gco:Date>{{ dataset.get('dataset_creation_date')}}</gco:Date>
              </date>
              <dateType>
                <CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="creation" codeSpace="ISOTC211/19115">creation</CI_DateTypeCode>
              </dateType>
            </CI_Date>
          </date>
          {% endif %}
          {% if dataset.get('dataset_release_date')%}
          <date>
            <CI_Date>
              <date>
                <gco:Date>{{ dataset.get('dataset_release_date')}}</gco:Date>
              </date>
              <dateType>
                <CI_DateTypeCode codeSpace="ISOTC211/19115" codeListValue="publication" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode">publication</CI_DateTypeCode>
              </dateType>
            </CI_Date>
          </date>
          {% endif %}
          {% if dataset.get('dataset_last_modified_date')%}
          <date>
            <CI_Date>
              <date>
                <gco:Date>{{ dataset.get('dataset_last_modified_date')}}</gco:Date>
              </date>
              <dateType>
                <CI_DateTypeCode codeSpace="ISOTC211/19115" codeListValue="revision" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode">revision</CI_DateTypeCode>
              </dateType>
            </CI_Date>
          </date>  
          {% endif %}  
          {% if dataset.get('contact_creator')%}      
          <citedResponsibleParty>
            <CI_ResponsibleParty>
              <individualName>
                <gco:CharacterString>{{ dataset.get('contact_creator')}}</gco:CharacterString>
              </individualName>
              <positionName>
                <gco:CharacterString>{{  dataset.get('contact_creator') }}</gco:CharacterString>
              </positionName>
              <contactInfo>
                <CI_Contact>
                  <address>
                    <CI_Address>
                      <electronicMailAddress>
                        <gco:CharacterString>{{ dataset.get('contact_creator')}}</gco:CharacterString>
                      </electronicMailAddress>
                    </CI_Address>
                  </address>
                </CI_Contact>
              </contactInfo> 
              <role>
                <CI_RoleCode codeSpace="ISOTC211/19115" codeListValue="originator" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode">originator</CI_RoleCode>
              </role>
            </CI_ResponsibleParty>
          </citedResponsibleParty>
          {% endif %}  
          <presentationForm>
            <CI_PresentationFormCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_PresentationFormCode" codeListValue="mapDigital" codeSpace="ISOTC211/19115">mapDigital</CI_PresentationFormCode>
          </presentationForm>
        </CI_Citation>
      </citation>
      <abstract>
        <gco:CharacterString>{{dataset.get('notes')}}</gco:CharacterString>
      </abstract>
      {% if dataset.get('purpose') %}
        <purpose>
          <gco:CharacterString>{{dataset.get('purpose')}}</gco:CharacterString>
        </purpose>
      {% endif %}
      <credit>
        <gco:CharacterString>{{dataset.get('rights_statement')}}</gco:CharacterString>
      </credit>
      {% if dataset.get('publication_status') %}
        <status>
          <gco:CharacterString>{{ dataset.get('publication_status')}}</gco:CharacterString>
          <MD_ProgressCode codeSpace="ISOTC211/19115" codeListValue="completed" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ProgressCode">{{ dataset.get('publication_status')}}</MD_ProgressCode>
        </status>
      {% endif %}
      {% if dataset.get('update_schedule') %}
      <resourceMaintenance>
        <MD_MaintenanceInformation>
          <maintenanceAndUpdateFrequency>
            <MD_MaintenanceFrequencyCode codeSpace="ISOTC211/19115" codeListValue={{ dataset.get('update_schedule') }} codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_MaintenanceFrequencyCode">{{ dataset.get('update_schedule')}}</MD_MaintenanceFrequencyCode>
          </maintenanceAndUpdateFrequency>
        </MD_MaintenanceInformation>
      </resourceMaintenance>
      {% endif %}
       <descriptiveKeywords>
        <MD_Keywords>
        {% for topic in dataset.get('topic') %}
          <keyword>
            <gco:CharacterString>{{ topic }}</gco:CharacterString>
          </keyword>
          <type>
            <MD_KeywordTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode" codeListValue="theme" codeSpace="ISOTC211/19115">theme</MD_KeywordTypeCode>
          </type>
        {% endfor %}
        </MD_Keywords>
      </descriptiveKeywords>
      {% if dataset.get('keywords') %}
      <descriptiveKeywords>
        <MD_Keywords>
         {% for keyword in dataset.get('keywords')%}
          <keyword>
            <gco:CharacterString>{{ keyword }}</gco:CharacterString>
          </keyword>
          <type>
            <MD_KeywordTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_KeywordTypeCode" codeListValue="theme" codeSpace="ISOTC211/19115">theme</MD_KeywordTypeCode>
          </type>
          {% endfor %}
        </MD_Keywords>
      </descriptiveKeywords>
      {% endif %}
      {% for access in dataset.get('classification_and_access_restrictions')%}
      <resourceConstraints>
        <MD_SecurityConstraints>
          <useLimitation>
            <gco:CharacterString>{{ access}}</gco:CharacterString>
          </useLimitation>
          <useConstraints>
            <MD_RestrictionCode codeSpace="ISOTC211/19115" codeListValue="otherResrictions" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_RestrictionCode">otherRestrictions</MD_RestrictionCode>
          </useConstraints>
        </MD_SecurityConstraints>
      </resourceConstraints>
       {% endfor %}
       {% if dataset.get('rights_statement') %}
      <resourceConstraints>
        <MD_LegalContraints>
          <useLimitation>
            <gco:CharacterString>{{ dataset.get('rights_statement') }}</gco:CharacterString>
          </useLimitation>
          <useConstraints>
            <MD_RestrictionCode codeSpace="ISOTC211/19115" codeListValue="copyright" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_RestrictionCode">copyright</MD_RestrictionCode>
          </useConstraints>
        </MD_LegalContraints>
      </resourceConstraints>
      {% endif %}
      <resourceConstraints>
        <MD_LegalContraints>
          <useLimitation>
            <gco:CharacterString>{{dataset.get('license_id').get('title')}}</gco:CharacterString>
          </useLimitation>
          <useConstraints>
            <MD_RestrictionCode codeSpace="ISOTC211/19115" codeListValue="license" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_RestrictionCode">license</MD_RestrictionCode>
          </useConstraints>
        </MD_LegalContraints>
      </resourceConstraints>
      {% if dataset.get('specialized_license') %}
      <resourceConstraints>
        <MD_LegalContraints>
          <useLimitation>
            <gco:CharacterString>{{dataset.get('specialized_license')}}</gco:CharacterString>
          </useLimitation>
          <useConstraints>
            <MD_RestrictionCode codeSpace="ISOTC211/19115" codeListValue="license" codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_RestrictionCode">license</MD_RestrictionCode>
          </useConstraints>
        </MD_LegalContraints>
      </resourceConstraints>
      {% endif%}
      <spatialRepresentationType>
        <MD_SpatialRepresentationTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_SpatialRepresentationTypeCode" codeListValue="vector" codeSpace="ISOTC211/19115">vector</MD_SpatialRepresentationTypeCode>
      </spatialRepresentationType>
      {% if dataset.get('spatial_resolution')%}
          <spatialResolution>
            <MD_Resolution>
              <distance>
                <gco:Distance uom="m">{{ dataset.get('spatial_resolution')}}}</gco:Distance>
              </distance>
            </MD_Resolution>
          </spatialResolution>
        {% endif %}
      <language>
        <LanguageCode codeList="http://www.loc.gov/standards/iso639-2/php/code_list.php" codeListValue="eng" codeSpace="ISO639-2">eng</LanguageCode>
      </language>
      <characterSet>
        <MD_CharacterSetCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8" codeSpace="ISOTC211/19115">utf8</MD_CharacterSetCode>
      </characterSet>
      {% if dataset.get('additional_info') %}
        {% for info in dataset.get('additional_info') %}
      <supplementalInformation>
        <gco:CharacterString>{{ info }}</gco:CharacterString>
      </supplementalInformation>
        {%endfor %}
      {% endif %}
    </MD_DataIdentification>
  </identificationInfo>
  <distributionInfo>
    <MD_Distribution>
    {% for resource in dataset.get('resources', []) %}
      <distributionFormat>
        <MD_Format>
          <name>
            <gco:CharacterString>{{resource.get('format')}}</gco:CharacterString>
          </name>
          <version>
            <gco:CharacterString>1</gco:CharacterString>
          </version>
        </MD_Format>
        {% if resource.get('compression')%}
            <MD_CompressionFormat>
            <name>
              <gco:CharacterString>{{resource.get('compression').get('title','')}}</gco:CharacterString>
            </name>
          </MD_CompressionFormat>
        {% endif %}
        {% if resource.get('packaging')%}
            <MD_CompressionFormat>
            <name>
              <gco:CharacterString>{{resource.get('packaging').get('title','')}}</gco:CharacterString>
            </name>
          </MD_CompressionFormat>
        {% endif %}      
      </distributionFormat>
      {% endfor %}
      <distributor>
        <MD_Distributor>
          <distributorContact>
            <CI_ResponsibleParty>
              <individualName>
                <gco:CharacterString>{{dataset.get('contact_point', {}).get('Name', '')}}</gco:CharacterString>
              </individualName>
              <organisationName>
                <gco:CharacterString>{{dataset.get('organisation', {}).get('name', '')}}</gco:CharacterString>
              </organisationName>
              <positionName>
                <gco:CharacterString>{{dataset.get('contact_point', {}).get('Position', '')}}</gco:CharacterString>
              </positionName>
              <contactInfo>
                <CI_Contact>
                  <address>
                    <CI_Address>
                      <electronicMailAddress>
                        <gco:CharacterString>{{dataset.get('contact_point', {}).get('Email', '')}}</gco:CharacterString>
                      </electronicMailAddress>
                    </CI_Address>
                  </address>
                </CI_Contact>
              </contactInfo>
              <role>
                <CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="distributor" codeSpace="ISOTC211/19115">distributor</CI_RoleCode>
              </role>
            </CI_ResponsibleParty>
          </distributorContact>
          <distributorTransferOptions>
            <MD_DigitalTransferOptions>
              <transferSize>
                <gco:Real>5120</gco:Real>
              </transferSize>
            </MD_DigitalTransferOptions>
          </distributorTransferOptions>
        </MD_Distributor>
      </distributor>
    </MD_Distribution>
  </distributionInfo>
  <dataQualityInfo>
    <DQ_DataQuality>
      <scope>
        <DQ_Scope>
          <level>
            <MD_ScopeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode" codeListValue="dataset" codeSpace="ISOTC211/19115">dataset</MD_ScopeCode>
          </level>
        </DQ_Scope>
      </scope>
     {% if dataset.get('schema_standards')%}
       {% for schema_standard in dataset.get('schema_standards') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>Schema or standard: {{ schema_standard }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}

    {% if dataset.get('quality_measure')%}
       {% for quality_measure in dataset.get('quality_measure') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>{{ quality_measure.get('measurement') }}: {{ quality_measure.get('value') }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}

    {% if dataset.get('quality_description')%}
       {% for quality_description in dataset.get('quality_description') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>{{ quality_description.get('dimension') }}: {{ quality_description.get('value') }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}
    {% if dataset.get('lineage_description')%}
      {% for lineage_description in dataset.get('lineage_description') %}
        <lineage>
          <LI_Lineage>
            <statement>
              <gco:CharacterString>{{lineage_description }}</gco:CharacterString>
            </statement>
          </LI_Lineage>
        </lineage>
      {% endfor %}
    {% endif %}
    {% if dataset.get('lineage_plan')%}
       {% for lineage_plan in dataset.get('lineage_plan') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>Plan: {{ lineage_plan }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}  
      {% if dataset.get('lineage_inputs')%}
       {% for lineage_inputs in dataset.get('lineage_inputs') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>Inputs: {{ lineage_inputs }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}
    {% if dataset.get('lineage_sensor')%}
       {% for lineage_sensor in dataset.get('lineage_sensor') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>Sensor: {{ lineage_sensor }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}
    {% if dataset.get('lineage_responsible_party')%}
       {% for lineage_responsible_party in dataset.get('lineage_responsible_party') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>Repsonsible party: {{ lineage_responsible_party }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}
    {% if dataset.get('cited_in')%}
       {% for cited_in in dataset.get('cited_in') %}
          <lineage>
            <LI_Lineage>
              <statement>
                <gco:CharacterString>Cited in: {{ cited_in }}</gco:CharacterString>
              </statement>
            </LI_Lineage>
          </lineage>
        {% endfor %}
    {% endif %}
    </DQ_DataQuality>
  </dataQualityInfo>
  <metadataConstraints>
  </metadataConstraints>
  <metadatareviewDate>
    <gco:Date>{{ dataset.get('metadata_review_date')}}</gco:Date>
</metadatareviewDate>

<recordSource>
    <gco:CharacterString>{{ dataset.get('url')}}</gco:CharacterString>
</recordSource>
</MD_Metadata>