{% extends 'package/read_base.html' %}

{%- set schema = h.scheming_get_dataset_schema(pkg_dict['type']) -%}

{% block primary_content_inner %}
  {% snippet "/snippets/invalid_uris_error.html", entity_id=pkg_dict.id , entity=pkg_dict %}
  {% if pkg_dict.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span><br/><br/>
  {% endif %}

  <section class="additional-info">
    <h3 class="pull-left">{{ _('Metadata') }}</h3>
    <div class="dropdown pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-download"></i>
        {{ _('Export') }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% if not pkg_dict.get('type') == 'dataservice'%}
        <li>
         <a href="{{ h.url_for('qdes_schema.dataset_export', id=pkg_dict['id'], format='XML (ISO-19139)') }}"
             target="_blank" download><span>XML (ISO-19139)</span></a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('dataset.read', id=pkg_dict['name']) }}.ttl"
             target="_blank" download><span>RDF / TTL</span></a>
        </li>
      </ul>
    </div>

    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        {% block package_additional_info %}
          {%- for field in schema.dataset_fields -%}
            {%- if pkg_dict[field.field_name]|length > 0 -%}
              <tr>
                <th scope="row" class="dataset-label">
                  {{ h.scheming_language_text(field.label) }}
                </th>
                <td class="dataset-details"{%
                  if field.display_property %} property="{{ field.display_property
                  }}"{% endif %}>
                  {%- if field.field_name == 'owner_org' -%}
                    {{ pkg_dict['organization']['title'] }}
                  {%- else -%}
                    {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
                  {%- endif -%}
                </td>
              </tr>

              {%- if field.field_name == 'publication_status' -%}
                <tr>
                  <td colspan="2">
                    {%- snippet 'package/snippets/lifecycle.html', pkg_dict=pkg_dict, field=field -%}
                  </td>
                </tr>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {% endblock %}

        <tr>
          <th scope="row" class="dataset-label">
            Data Catalogue ID
          </th>
          <td class="dataset-details">
            {{ pkg_dict.get('id') }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock %}
