{% ckan_extends %}

{% block content_primary_nav %}
  {% set id_or_name = pkg.id if is_activity_archive else pkg.name %}
  {% if dataset_type == 'dataservice' %}
    {{ h.build_nav_icon(dataset_type ~ '.read', _('Data Service'), id=id_or_name, icon='sitemap') }}
    {{ h.build_nav_icon('qdes_schema.datasets_available', _('Available Datasets'), id=id_or_name, icon='object-group') }}
  {% else %}
    {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=id_or_name, icon='sitemap') }}
    {{ h.build_nav_icon('qdes_schema.related_datasets', _('Related Datasets'), id_or_name=id_or_name, icon='object-group') }}
  {% endif %}
  {{ h.build_nav_icon(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Groups'), id=id_or_name, icon='users') }}

  {% if dataset_type == 'dataset' and h.check_access('package_update', {'id':pkg.id }) %}
    {{ h.build_nav_icon('qdes_schema.datasets_schema_validation', _('Publish'), id=id_or_name, icon='list') }}
  {% endif %}

{% endblock %}
