{% ckan_extends %}

{% set versions = h.get_related_versions(pkg.id) %}

{% block package_description %}
  <div class="alert alert-warning {{ '' if pkg.publication_status.split('/')|last == 'superseded' or versions[0].id != pkg.id else 'hidden' }}">
      This version has been superseded - <a href="{{ h.url_for('dataset.read', id=versions[0].id) }}">click here to see the latest version</a>.
  </div>

  {{ super() }}

  {% snippet "/package/snippets/dataset_versions.html", versions=versions, pkg=pkg %}
{% endblock %}
