{% extends 'package/read_base.html' %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  {% if h.ckan_version() > '2.9' %}
    {% asset 'qdes_schema/publish' %}
  {% else %}
    {% resource 'qdes_schema/publish.js' %}
  {% endif %}

  <h1>Validate metadata record</h1>
  <form class="row" method="post" action="{{ h.url_for('qdes_schema.datasets_schema_validation', id=pkg_dict.id) }}" novalidate>
    <div class="col-xs-12 col-md-10">
      {{ form.select(
      'schema',
      id='field-schema',
      label=_('Validate against'),
      options=options
      ) }}
    </div>
    <div class="col-xs-12 col-md-2 label-top-space-md">
      <button id="schema-validate" class="btn btn-default btn-block" type="submit">{{ _('Validate') }}</button>
    </div>
  </form>
  <br/>

  {% if pkg_errors or res_errors %}
    {%- set schema = h.scheming_get_dataset_schema(pkg_dict.type) -%}
    <div class="error-explanation alert alert-error" role="alert">
      <p>The <strong>{{ pkg_dict.title if pkg_dict.title else pkg_dict.name }} dataset</strong> contains the following errors when validated against the <strong>{{ selected_opt.text }}</strong> schema:</p>

      {% if pkg_errors %}
        <br/>
        <ul>
          {% for key, error in pkg_errors.items() %}
            <li>
              <a href="{{ h.url_for('dataset.edit', id=pkg_dict.id) }}#field-{{key}}">
                <strong>{{ h.qdes_get_field_label(key, schema) }}</strong></a> : {{ error|join(', ') }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if res_errors %}
        <br/>
        <h2>Resources:</h2>
        {% for res in res_errors %}
          {% if loop.index > 1 %}
            <br/>
          {% endif %}

          <p>The <strong>{{ res.resource_name }}</strong> resource contains the following errors when validated against the <strong>{{ selected_opt.text }}</strong> schema:</p>
          <br/>
          <ul>
            {% for err in res.errors %}
              {% for key, key_error in err.items() %}
                <li>
                  <a href="{{ h.url_for(pkg_dict.type + '_resource.edit', id=pkg_dict.id, resource_id=res.resource_id) }}#field-{{key}}">
                    <strong>{{ h.qdes_get_field_label(key, schema, 'resource_fields') }}</strong></a> : {{ key_error|join(', ') }}
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endfor %}

      {% endif %}
    </div>
  {% elif selected_opt.text %}
    <div class="alert alert-success" role="alert">
      The <strong>{{ pkg_dict.title if pkg_dict.title else pkg_dict.name }} dataset</strong> has no errors when validated against the <strong>{{ selected_opt.text }}</strong> schema.
    </div>
  {% endif %}
{% endblock %}
