{% ckan_extends %}

{% block form %}
  {% set facets = {
    'fields': fields_grouped,
    'search': search_facets,
    'titles': facet_titles,
    'translated_fields': translated_fields,
    'remove_field': remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Creation Date'), 'metadata_created desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=query_error, fields=fields %}
{% endblock %}

{% block secondary_content %}
  {% if dataset_type == 'dataset' %}
    {% set default_extent = h.get_qld_bounding_box_config() %}
    {% snippet "snippets/spatial_query.html", default_extent=default_extent %}
  {% endif %}

  <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {% if facet == 'temporal_start' or facet == 'temporal_end' %}
          {{ h.snippet('snippets/facet_list_temporal.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
        {% elif not facet in ['collection_package_id', 'temporal_coverage_from', 'temporal_coverage_to'] %}
          {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
        {% endif %}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
