{%- set include_fields = [
    'classification',
    'dataset_last_modified_date',
    ] -%}

{%- set spatial_coverage = [
    'spatial_lower_left',
    'spatial_upper_right',
    'spatial_centroid',
    'spatial_geometry',
    ] -%}

{%- set spatial_coverage_has_value = {'show_label': 0} -%}

{%- for field in spatial_coverage -%}
  {% if pkg_dict[field] %}
    {% do spatial_coverage_has_value.update({'show_label': 1}) %}
  {% endif %}
{%- endfor -%}

<!-- @TODO create macro for the row -->
{% macro row(field, pkg_dict, schema, add_spaces) -%}
  <tr>
    <th scope="row" class="dataset-label">
      {{ "&nbsp;"|safe*4 if add_spaces }}
      {{ h.scheming_language_text(field.label) }}
    </th>
    <td class="dataset-details"{%
      if field.display_property %} property="{{ field.display_property
      }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
      field=field, data=pkg_dict, schema=schema -%}</td>
  </tr>
{%- endmacro %}

<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
        {%- for field in schema.dataset_fields -%}
          {%- if field.field_name in include_fields and field.display_snippet is not none and pkg_dict[field.field_name]|length > 0 -%}
            {{row(field, pkg_dict, schema)}}
          {%- endif -%}
        {%- endfor -%}

        {%- for field in schema.dataset_fields -%}
          {%- if field.field_name in spatial_coverage and field.display_snippet is not none and pkg_dict[field.field_name]|length > 0  -%}
            {% if spatial_coverage_has_value.show_label %}
              {% do spatial_coverage_has_value.update({'show_label': 0}) %}
              {% snippet "spatial/snippets/dataset_spatial_table.html", pkg_dict=pkg_dict, schema=schema %}
            {% endif %}
          {%- endif -%}
        {%- endfor -%}

        {%- for field in schema.dataset_fields -%}
          {%- if field.field_name == 'contact_point' and field.display_snippet is not none and pkg_dict[field.field_name]|length > 0  -%}
            {{row(field, pkg_dict, schema)}}
          {%- endif -%}
        {%- endfor -%}

      {% endblock %}
      <tr>
        <th scope="row" class="dataset-label">
          Data Catalogue ID
        </th>
        <td class="dataset-details">
          {{ pkg_dict.get('id') }}
        </td>
      </tr>
    </tbody>
  </table>
  {% set activity_id = h.get_request_param('activity_id') %}
  <a href="{{ h.url_for('qdes_schema.dataset_metadata', id=pkg_dict['name'], activity_id = activity_id)}}">{{ _('View all metadata') }}</a>
</section>
