{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'lineage_description',
    'lineage_plan',
    'lineage_inputs',
    'lineage_sensor',
    'lineage_responsible_party',
    ] -%}

{%- set temporal_coverage = [
    'temporal_start',
    'temporal_end',
    ] -%}

{%- set data_lineage = [
    'lineage_description',
    'lineage_plan',
    'lineage_inputs',
    'lineage_sensor',
    'lineage_responsible_party',
    ] -%}


{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row" class="dataset-label">
            {% if field.field_name in temporal_coverage %}
                {{ "Temporal coverage start" if field.field_name == 'temporal_start' else "Temporal coverage end" }}
            {%- else -%}
                {{ h.scheming_language_text(field.label) }}
            {%- endif -%}
        </th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Data Catalogue UUID") }}</th>
    <td class="dataset-details">{{ _(pkg_dict.id) }}</td>
  </tr>

  <tr>
    <th scope="row" colspan="2">{{ _("Data lineage") }}</th>
  </tr>
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name in data_lineage and field.display_snippet is not none -%}
      <tr>
        <th scope="row" class="dataset-label">
          {{ h.scheming_language_text(field.label) }}
        </th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}
