{% ckan_extends %}

{% block basic_fields %}

  {% if h.ckan_version() > '2.9' %}
    {% asset 'qdes_schema/repeater' %}
    {% asset 'qdes_schema/repeating-fields' %}
    {% asset 'qdes_schema/autocomplete' %}
  {% else %}
    {% resource 'qdes_schema/jquery.repeater.js' %}
    {% resource 'qdes_schema/repeating-fields.js' %}
    {% resource 'qdes_schema/autocomplete.js' %}
  {% endif %}

  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

  {#
      "namespace" is only available in Jinja2 v 2.10+
      therefore this approach won't work in CKAN < 2.9
  #}
  {%- set ns = namespace(display_group=None) -%}
  {%- for field in schema.dataset_fields -%}
    {%- if field.display_group is not none and field.display_group != ns.display_group -%}
        {%- set ns.display_group = field.display_group -%}
        {%- if ns.display_group not in ['general'] -%}
            <h2>{{ field.display_group|capitalize }}</h2>
        {%- endif -%}
    {%- endif -%}

    {%- if field.sub_heading is not none and field.sub_heading != ns.sub_heading -%}
        {%- set ns.sub_heading = field.sub_heading -%}
        <h3>{{ field.sub_heading|capitalize }}</h3>
    {%- endif -%}

    {%- if field.form_snippet is not none -%}
      {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'resource_fields' not in schema -%}
    <!-- force controller to skip resource-editing step for this type -->
    <input type="hidden" name="_ckan_phase" value="" />
  {%- endif -%}
{% endblock %}

{% block metadata_fields %}
{% endblock %}
