{% set activity_dict = h.load_activity_with_full_data(activity.id) %}

<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-sitemap"></i>
  <p>
    {{ _('{actor} unpublished the dataset {dataset}').format(
      actor=ah.actor(activity),
      dataset=ah.dataset(activity)
    )|safe }}
    <br />
    <span class="date">
      {{ h.time_ago_from_timestamp(activity.timestamp) }} | The dataset was {{activity_dict.data.status}} removed from {{ activity_dict.data.destination if activity_dict.data.destination else "QLD Open Data Portal" }}
      <br/>
      The following distribution was {{activity_dict.data.status}} removed from {{ activity_dict.data.destination if activity_dict.data.destination else "QLD Open Data Portal" }}
      <br/>
      - {{activity_dict.data.distribution}}
    </span>
  </p>
</li>
