{% import 'macros/form.html' as form %}

<div id="{{ field.field_name }}-repeater" class="repeating-field" data-field-type="select">
    <label class="control-label" for="field-{{ field.field_name }}">{{ field.label }}</label>
    {% if errors[field.field_name] and errors[field.field_name] is iterable %}<span class="error-block">{{ errors[field.field_name]|join(', ') }}</span>{% endif %}
    <div data-repeater-list="{{ field.field_name }}">
        {% for group_data in data[field.field_name] or ['']  %}
            <div data-repeater-item class="repeater-wrapper">
                <div class="row vertical-align">
                    {% for field_group in field.get('field_group') or [] %}
                        <div class="col-lg-{{ 12 // field.get('field_group')|length }}">
                            {% if field_group.form_snippet %}
                                {%- snippet 'scheming/form_snippets/field_groups/{0}'.format(field_group.form_snippet), field=field, field_group=field_group, group_data=group_data, errors=errors, data=data or {} -%}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="col-lg-1">
                        <input data-repeater-delete type="button" class="btn btn-sm btn-danger" value="-" title="Remove item" />
                    </div>
                </div>

                <div class="supersede-alert hidden alert alert-warning">Please update the publication status of the version being replaced to "superseded"</div>
            </div>

        {% endfor %}
    </div>
    <div class="row" align="center">
        <input data-repeater-create type="button" class="btn" value="+" />
    </div>
</div>

{% if field.field_name == 'related_resources' and g.controller == 'dataset' and g.action == 'edit' %}
    <h4>Existing related resources</h4>
    {% set relationships = h.get_relationships(data['id']) %}
{{ relationships }}
    {% if relationships %}
        <table id="existing-related-resources" class="table">
            <thead>
            <th>Resource</th>
            <th>Nature</th>
            <th>&nbsp;</th>
            </thead>
            <tbody>
            {% for relationship in relationships %}
                {% if relationship.type %}
                    <tr>
                        <td>
                            {% set resource = relationship.title if relationship.object else relationship.comment %}
                            {{ resource }}
                        </td>
                        <td>{{ relationship.type }}</td>
                        <td>
                            <a href="" class="remove btn btn-xs btn-danger"
                               data-resource="{{ resource }}"
                               data-relationship="{{ relationship.type }}"
                            >
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

{% set visibility = [] if g.debug else ['hidden'] %}
{% set default_classes = field.classes if 'classes' in field else [] %}
{% set ns = namespace(field_classes=default_classes + visibility) %}

{# BEGIN: The actual form field the multiple values will be captured & submitted in #}
{% call form.textarea(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    value=data[field.field_name],
    classes=ns.field_classes,
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
{# END: The actual form field the multiple values will be captured & submitted in #}
