{% import 'macros/form.html' as form %}

{%- set yes = 'checked' if data == '1' %}
{%- set no = 'checked' if data == '0' %}

<li class="list-group-item">
<label class="checkbox" for="{{ field.field_name }}">
{{ field.label }}
    {% call form.checkbox(field.field_name, 
        label= 'YES',
        id='field-'+field.label,
        value=True,
        checked= yes) 
        %}
    {% endcall %}
    {% call form.checkbox(field.field_name, 
        label= 'NO',
        id='field-'+field.label,
        value=True,
        checked=no) 
        %}
     {% endcall %}

</label>
</li>