{% import 'macros/form.html' as form %}

<style>
    .to-be-implemented {
        border: 1px solid #ebccd1;
        border-radius: 5px;
        background-color: #f2dede;
        padding: 1em;
        position: relative;
    }
    .to-be-implemented span {
        display: none;
        position: absolute;
        top: .75em;
        right: 1em;
        color: white;
        font-size: 80%;
        font-weight: bold;
        background-color: #a94442;
        padding: 3px;
    }
    .to-be-implemented:hover span {
        display: block;
    }

</style>

<div class="to-be-implemented">

    <span>To be implemented</span>

{% call form.input(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    error=errors[field.field_name],
    classes=field.classes if 'classes' in field else ['control-medium'],
    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
    is_required=h.scheming_field_required(field)
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
</div>
