{% import 'macros/form.html' as form %}

<div id="{{ field.field_name }}-repeater" class="repeating-field" data-field-type="textarea">

    <div id="{{ 'field-' + field.field_name }}" data-repeater-list="{{ field.field_name }}">

        {% set values = h.get_multi_textarea_values(data[field.field_name]) or [] %}

        {% for value in values %}
        <div data-repeater-item class="row vertical-align">
            <div class="col-lg-11">
                {% call form.markdown(
                    label=h.scheming_language_text(field.label),
                    placeholder=h.scheming_language_text(field.form_placeholder),
                    attrs=dict({"class": "form-control", "data-field-name": field.field_name}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field),
                    value=value
                    )
                %}
                {% endcall %}
            </div>
            <div class="col-lg-1">
                <input data-repeater-delete type="button" class="btn btn-sm btn-danger" value="-" title="Remove item" />
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row" align="center">
        <input data-repeater-create type="button" class="btn" value="+" />
    </div>
</div>

{% set visibility = [] if g.debug else ['hidden'] %}
{% set default_classes = field.classes if 'classes' in field else [] %}
{% set ns = namespace(field_classes=default_classes + visibility) %}

{# BEGIN: The actual form field the multiple values will be captured & submitted in #}
{% call form.textarea(
    field.field_name,
    id='field-' + field.field_name + '-hidden',
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    classes=ns.field_classes,
    is_required=h.scheming_field_required(field),
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
{# END: The actual form field the multiple values will be captured & submitted in #}