{% import 'macros/form.html' as form %}

<div class="iso-8601-duration-field-wrapper" data-duration-fieldname="{{ field.field_name }}">
    <div class="row">
        <div class="col-sm-12">
            <h2>Time precission or spacing</h2>
        </div>
    </div>

    <div class="row iso-8601-duration-field">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">Period</div>
            </div>

            <div class="row">
                {% call form.input(
                    field.field_name + '_years',
                    id='field-' + field.field_name +  '-years',
                    label= 'Years',
                    value=data[field.field_name +  '-years'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}

                {% call form.input(
                    field.field_name + '_months',
                    id='field-' + field.field_name +  '-months',
                    label= 'Months',
                    value=data[field.field_name +  '-months'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}

                {% call form.input(
                    field.field_name + '_weeks',
                    id='field-' + field.field_name +  '-weeks',
                    label= 'Weeks',
                    value=data[field.field_name +  '-weeks'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}

                {% call form.input(
                    field.field_name + '_days',
                    id='field-' + field.field_name +  '-days',
                    label= 'Days',
                    value=data[field.field_name +  '-days'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">Time</div>
            </div>

            <div class="row">
                {% call form.input(
                    field.field_name + '_hours',
                    id='field-' + field.field_name +  '-hours',
                    label= 'Hours',
                    value=data[field.field_name +  '-hours'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}

                {% call form.input(
                    field.field_name + '_minutes',
                    id='field-' + field.field_name +  '-minutes',
                    label= 'Minutes',
                    value=data[field.field_name +  '-minutes'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}

                {% call form.input(
                    field.field_name + '_seconds',
                    id='field-' + field.field_name +  '-seconds',
                    label= 'Seconds',
                    value=data[field.field_name +  '-seconds'],
                    error=errors[field.field_name],
                    classes=['control-medium', 'col-sm-3'],
                    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
                    is_required=h.scheming_field_required(field)
                    )
                %}
                    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
                {% endcall %}
            </div>
        </div>
    </div>

    {% set visibility = [] if g.debug else ['hidden'] %}
    {% set default_classes = field.classes if 'classes' in field else ['control-medium'] %}

    {%
        call form.input(
            field.field_name,
            id='field-' + field.field_name,
            label=h.scheming_language_text(field.label),
            placeholder=h.scheming_language_text(field.form_placeholder),
            value=data[field.field_name],
            error=errors[field.field_name],
            classes=default_classes + visibility,
            attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
            is_required=h.scheming_field_required(field)
        )
    %}
        {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
    {% endcall %}
</div>
