{% import 'macros/form.html' as form %}

{#
    NOTE:
    This dummy field is added here so that we detect that the form has been posted
    back to the server, but has resulted in a validation error that would cause the
    form to be displayed again - this way we know if we need to re-populate the
    related resources inputs
#}
{% if field.field_name == 'related_resources' %}
    <input type="hidden" name="related_resources_postback" value="random_string" />
{% endif %}


<div id="{{ field.field_name }}-repeater" class="repeating-field" data-field-type="select">
    <label class="control-label" for="field-{{ field.field_name }}">{{ field.label }}</label>
    {% if errors[field.field_name] and errors[field.field_name] is iterable %}<span class="error-block">{{ errors[field.field_name]|join(', ')|safe }}</span>{% endif %}
    <div id="{{ 'field-' + field.field_name }}" data-repeater-list="{{ field.field_name }}">

        {# Default behaviour to re-populate all existing inputs #}
        {% set group_values = h.get_multi_textarea_values(data[field.field_name])  %}

        {# Conditions to only re-populate related resources inputs if there was a postback that results in a validation error #}
        {% if field.field_name == 'related_resources' %}
            {% if data['related_resources_postback'] %}
                {% set group_values = h.get_multi_textarea_values(data[field.field_name])  %}
            {% else %}
                {% set group_values = [''] %}
            {% endif %}
        {% endif %}

        {% for group_data in group_values or [''] %}
        
            <div data-repeater-item class="repeater-wrapper">
                <div class="row vertical-align">
                    {% for field_group in field.get('field_group') or [] %}
                        <div class="col-lg-{{ 12 // field.get('field_group')|length }}">
                            {% if field_group.form_snippet %}
                                {%- snippet 'scheming/form_snippets/field_groups/{0}'.format(field_group.form_snippet), field=field, field_group=field_group, group_data=group_data, errors=errors, data=data or {} -%}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="col-lg-1">
                        <input data-repeater-delete type="button" class="btn btn-sm btn-danger" value="-" title="Remove item" />
                    </div>
                </div>

                <div class="supersede-alert hidden alert alert-warning">Please update the publication status of the version being replaced to "superseded"</div>
            </div>

        {% endfor %}
    </div>
    <div class="row" align="center">
        <input data-repeater-create type="button" class="btn" value="+" />
    </div>
</div>

{% set visibility = [] if g.debug else ['hidden'] %}
{% set default_classes = field.classes if 'classes' in field else [] %}
{% set ns = namespace(field_classes=default_classes + visibility) %}

{# BEGIN: The actual form field the multiple values will be captured & submitted in #}
{% call form.textarea(
    field.field_name,
    id='field-' + field.field_name + '-hidden',
    label=h.scheming_language_text(field.label),
    value=data[field.field_name],
    classes=ns.field_classes,
    )
%}
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endcall %}
{# END: The actual form field the multiple values will be captured & submitted in #}

{% if field.field_name == 'related_resources' and g.controller in ['dataset', 'dataservice'] and g.action == 'edit' %}
    <h4>Existing related resources</h4>
    {% set relationships = h.get_subject_package_relationship_objects(data['id']) %}
    {% if relationships %}
        <table id="existing-related-resources" class="table">
            <thead>
            <th>Resource</th>
            <th>Nature of relationship</th>
            <th>&nbsp;</th>
            </thead>
            <tbody>
            {% for relationship in relationships %}
                <tr>
                    <td>
                        {% set resource = relationship.object if relationship.object else relationship.comment %}
                        {% set title = relationship.title if relationship.object else relationship.comment %}
                        {{ title }}
                    </td>
                    <td>{{ relationship.type }}</td>
                    <td>
                        <a href="" class="remove btn btn-xs btn-danger"
                            data-resource="{{ resource }}"
                            data-relationship="{{ relationship.type }}"
                        >
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {#
        In cases where the edit dataset form is submitted and there are errors/mandatory fields missing
        we need to re-populate the `existing_related_resources`
        with the value from the form submission, otherwise we loose the value
    #}
    {% set existing_related_resources = data['existing_related_resources']|default(h.convert_relationships_to_related_resources(relationships)) %}

    {% call form.textarea(
        name="existing_related_resources",
        label="Existing related resources",
        value=existing_related_resources,
        classes=ns.field_classes,
        )
    %}
    {% endcall %}
{% endif %}
