{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}
    {{ super() }}
    {{ form.textarea(
        'ckanext.qdes_schema.au_bounding_box',
        id='field-ckanext.qdes_schema.au_bounding_box',
        label=_('Australia Bounding Box'),
        placeholder='GeoJSON polygon',
        value=data['ckanext.qdes_schema.au_bounding_box'],
        error=errors['ckanext.qdes_schema.au_bounding_box']) }}

    {{ form.textarea(
        'ckanext.qdes_schema.qld_bounding_box',
        id='field-ckanext.qdes_schema.qld_bounding_box',
        label=_('Default map coordinates'),
        placeholder='GeoJSON polygon',
        value=data['ckanext.qdes_schema.qld_bounding_box'],
        error=errors['ckanext.qdes_schema.qld_bounding_box']) }}

    {{ form.input(
        'ckanext.qdes_schema.default_map_zoom',
        id='field-ckanext.qdes_schema.default_map_zoom',
        label=_('Default map zoom'),
        placeholder='Example: 5, 6.25, 7.5, 8.75',
        value=data['ckanext.qdes_schema.default_map_zoom'],
        error=errors['ckanext.qdes_schema.default_map_zoom']) }}
{% endblock %}

{% block admin_form_help %}
    {{ super() }}
    <p>
        <strong>Australia Bounding Box/Default map coordinates:</strong><br/>Example:<br/>
        <pre>
{
    "type": "Polygon",
    "coordinates": [
        [
            [100.0, 0.0],
            [101.0, 0.0],
            [101.0, 1.0],
            [100.0, 1.0],
            [100.0, 0.0]
        ]
    ]
}
        </pre>
    </p>

    <p>
        <strong>Default map zoom:</strong><br>
        Enter any number with 0.25 increment, min: 3, max: 18.<br/>Example: 3.75, 4.5, 6.25, 7, etc.
    </p>
{% endblock %}
