{% for group_data in data[field.field_name] or []  %}           
    <div>
        {% for field_group in field.get('field_group') or [] %}      
            {% set value = group_data[field_group.field_name]|string %}
            {% set display_property = field_group.display_property|default(None) %}
            <span>
                <a href="{{ value }}"{% if display_property %} property="{{ display_property }}"{% endif %}>
                    {{ h.scheming_choices_label(h.scheming_field_choices(field_group), value) }}
                </a>
            </span>
            {% if not loop.last %}
                <span> - </span>            
            {% endif %}
        {% endfor %}
    <div>
    {% if not loop.last %}
        <hr>           
    {% endif %}
{% endfor %}
