{% set values = h.get_multi_textarea_values(data[field.field_name]) or [] %}
{% for group_data in values  %}
    <div>
        {% for field_group in field.get('field_group') or [] %}
            {% set value_data = group_data.get(field_group.field_name, '') %}
            {% set value = value_data.get('text', '')|string if 'text' in value_data else value_data|string %}
            {% if h.is_url(value) %}
                <a href="{{ value }}"{% if display_property %} property="{{ display_property }}"{% endif %}>
                    {% if 'choices_helper' in field_group %}
                        {{ h.scheming_choices_label(h.scheming_field_choices(field_group), value) }}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </a>
            {% else %}
                <span {% if field_group.display_property %} property="{{ field_group.display_property }}"{% endif %}>
                    {{ value }}
                </span>
            {% endif %}
            {% if not loop.last %}
                <span> - </span>            
            {% endif %}
        {% endfor %}
    <div>
    {% if not loop.last %}
        <hr>           
    {% endif %}
{% endfor %}
