{% set values = h.get_multi_textarea_values(data[field.field_name]) or [] %}

{% for row in range(values['count']|int)  %}             
    <div>
        {% for field_group in field.get('field_group') or [] %}      
            {% set value = values[field_group.field_name][row]|string %}

            {% if h.is_url(value) %}
                <a href="{{ value }}" {% if field_group.display_property %} property="{{ field_group.display_property }}"{% endif %}>{{ value }}</a>
            {% else %}
                <span {% if field_group.display_property %} property="{{ field_group.display_property }}"{% endif %}>
                    {{ value }}
                </span>
            {% endif %}

            {% if not loop.last %}
                <span> - </span>            
            {% endif %}
        {% endfor %}
    </div>
    {% if not loop.last %}
        <hr>           
    {% endif %}
{% endfor %}
