{% set values = h.get_multi_textarea_values(data[field.field_name]) or [] %}
{% for value in values %}
    <div>
        {% set text_to_diplay = h.scheming_choices_label(h.scheming_field_choices(field), value) %}

        {% if field.preset == 'controlled_vocabulary_multi_select' %}
            {# This is the same as the else condition, but left as is for future development #}
            {% set url = value %}
        {% else %}
            {% set url = value %}
        {% endif %}

        {% if field.field_name == 'data_services' %}
            {% set url = h.url_for('dataset.read', id=value) %}
            {% set text_to_diplay = h.get_pkg_title(value) %}
        {% endif %}

        <a href="{{ url }}">
            {{text_to_diplay}}
        </a>
    </div>
    {% if not loop.last %}
        <hr>
    {% endif %}
{% endfor %}
