{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
{%- set section_element_created = False -%}
{%- set data_quality_standard = data.get('data_quality_standard', {}) %}

{%- set ns = namespace(display_group=None) -%}
    {%- if field.display_group is not none and field.display_group != ns.display_group -%}
        {%- if ns.display_group is not none -%}
              </div>
            </article>
        {%- endif -%}
          
            {%- if section_element_created == False -%}
            {%- set section_element_created = True -%}
            <p> {{ field.sub_label }}: <span> {{ h.get_json_element(data_quality_standard, 'calculated_quality_measure') }}</span>
                {%- for subfield in field.field_group -%} 
                    <section class="qg-accordion qg-dark-accordion" aria-label="{{ _('Accordion Label') }}">
                    <article class="display-group-{{subfield.display_group}} calculated-quality-measure" >
                                <input id="display-group-{{subfield.display_group}}" type="checkbox" name="tabs"
                                        aria-controls="display-group-{{subfield.display_group}}-content" aria-expanded="false"
                                        role="checkbox" tabindex="-1" {{checked}}>
                                <button class="acc-heading" type="button">
                                    <label for="display-group-{{subfield.display_group}}" class="no-colon">
                                    <span class="title">{{subfield.display_group|capitalize}}</span>
                                    <span class="score"> ({{ h.get_json_element(data_quality_standard, subfield, 'score')}})</span>
                                    <span class="arrow"><i></i></span>
                                    </label>
                                </button>
                                <div class="collapsing-section calculated-quality-measure" id="display-group-{{subfield.display_group}}-content">
                                    {%- if subfield.form_snippet is not none -%}
                                        <ul class="list-group">
                                            {%- for f in subfield.field_group -%}
                                            <li class="list-group-item calculated-quality-measure"> <span>{{f.label}}</span>  <span class="pull-right">{{ h.get_json_element(data_quality_standard, subfield, f) }}</span>
                                            </li>
                                            {%- endfor -%}
                                        </ul>
                                    {%- endif -%}
                                </div>
                        </article>
                    </section>
                {%- endfor -%}
            {%- set ns.display_group = field.display_group -%}
            
            {%- endif -%}
    {%- endif -%}