{% set values = h.get_multi_textarea_values(data[field.field_name]) or [] %}
{% for group_data in values  %}
    <div>
        {% for field_group in field.get('field_group') or [] %}
            {% set value_data = group_data.get(field_group.field_name, '') %}
            {% set value = value_data.get('text', '') if 'text' in value_data else value_data|string %}
            <span>{{ value }}</span>
            {% if not loop.last %}
                <span> - </span>            
            {% endif %}
        {% endfor %}
    <div>
    {% if not loop.last %}
        <hr>           
    {% endif %}
{% endfor %}
