/* Fixes a issue with dataset & resource select or multi-select elements not displaying correctly when using the scheming extension */
.select2-container.form-control {
  height: 100%;
  padding: 0px;
}

.vertical-align {
  display: flex;
  align-items: center;
}
