/* Fixes a issue with dataset & resource select or multi-select elements not displaying correctly when using the scheming extension */
.select2-container.form-control {
  height: 100%;
  padding: 0px;
}

/* Vertical align of repeater row in dataset form for remove item button */
.vertical-align {
  display: flex;
  align-items: center;
}

/* HR in dataset addition info table */
.dataset-details>hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
