#spatial-map-input #spatial-map-input-container {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px){
  #spatial-map-input #spatial-map-input-container {
    height: 600px;
  }
}

.leaflet-control-arrow{
  border: none;
  box-shadow: none;
  padding: 3px;
}
.leaflet-control-arrow-left,
.leaflet-control-arrow-right,
.leaflet-control-arrow-up,
.leaflet-control-arrow-down{
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: block;
  border: 1px solid #aaa;
  font-size: 15px;
  text-align: center;
  position: relative;
}
.leaflet-control-arrow-left{
  left: -12px;
  float: left;
}
.leaflet-control-arrow-right{
  right: 12px;
  float: right;
}
.leaflet-control-arrow-down{
  clear: both;
}
.leaflet-control-arrow-left:before,
.leaflet-control-arrow-right:before,
.leaflet-control-arrow-up:before,
.leaflet-control-arrow-down:before{
  color: #000;
  font-family: "FontAwesome";
}
.leaflet-control-arrow-left:hover:before,
.leaflet-control-arrow-right:hover:before,
.leaflet-control-arrow-up:hover:before,
.leaflet-control-arrow-down:hover:before{
  color: #777;
}
.leaflet-control-arrow-left:hover,
.leaflet-control-arrow-right:hover,
.leaflet-control-arrow-up:hover,
.leaflet-control-arrow-down:hover,
.leaflet-control-arrow-left:focus,
.leaflet-control-arrow-right:focus,
.leaflet-control-arrow-up:focus,
.leaflet-control-arrow-down:focus{
  background: #fff;
  text-decoration: none;
}
.leaflet-control-arrow-left:before{
  content: "\f060";
}
.leaflet-control-arrow-right:before{
  content: "\f061";
}
.leaflet-control-arrow-up:before{
  content: "\f062";
}
.leaflet-control-arrow-down:before{
  content: "\f063";
}
